.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
input {
  width: 300px;
  margin-top: 3px;
}
select{
  margin-top: 3px;
  width: 307px;
}
label{
  float:left
}
button {
  width: 150px;
  margin: 10px auto;
}
h3 {
  margin-top: 0;
}
.main-title{
  color: rgb(61, 61, 61);
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid blue;
  margin: 0 auto;
  background-color: rgb(200, 255, 237);
  padding-bottom: 20px;
}
.single-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin: 0 auto;
}
.check-box-container {
  display: flex;
}
.check-box {
  width: 10px;
  margin-top: 5px;
}
